<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="icon" href="https://ksr-ugc.imgix.net/assets/020/882/141/d173fd3beeb9fa21324a7307fcbc02f5_original.png?ixlib=rb-2.0.0&w=639&fit=max&v=1523665745&auto=format&gif-q=50&lossless=true&s=307ee8ac2314760f2eb22322b5795a75">
        <link rel="stylesheet" type="text/css" href="https://cdn.aq3d.info/assets/main.css">
    <style>
body {
  background-image: linear-gradient(#0B486B, #F56217);
  background-size: auto;
  background-repeat: no-repeat;
  
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  /*border: 1px solid #ccc;*/
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(100, 27, 27);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(100, 27, 27);
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(100, 27, 27);
  color: white;
  text-align: center;
}
    </style>
    
    
    </head>
<body onload="verifyUser()">
<script>
function genCharacters(length) {
   var result = '';
   var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz$';
   var charactersLength = characters.length;
   for ( var i = 0; i < length; i++ ) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
   }
   return result;
}
const characters = genCharacters(4);
/**
 * Verifies user is not a bot by implementing a simple auth algorithm 
 **/
function verifyUser() {
    const userInput = prompt(`${characters} \n Please enter the characters you see above.`);
    if (userInput === characters) {
        alert("Welcome!")
    } else {
        alert("Incorrect!")
        window.location.href = "https://www.google.com/search?q=failed&oq=failed&aqs=chrome..69i57j0l5.767j0j7&sourceid=chrome&ie=UTF-8"
    }
}
</script>
<form action="/login" method="POST">
        <div class="imgcontainer">
          <img src="https://ksr-ugc.imgix.net/assets/020/882/141/d173fd3beeb9fa21324a7307fcbc02f5_original.png?ixlib=rb-2.0.0&w=639&fit=max&v=1523665745&auto=format&gif-q=50&lossless=true&s=307ee8ac2314760f2eb22322b5795a75" alt="AE Logo" class="AE Logo">
        </div>
      
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>  
        </div>
      </form>
      <br>
      <div class="footer">
          <p>Made with ❤ for the AQ3D Community</p>
        </div>
</body>
</html>